@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: boder-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  background: #fcfcfc;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

.text-btn {
  color: #0b132a;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-btn:hover {
  color: #f53855;
}

.outline-btn {
  border: 1px solid #f53855;
  border-radius: 50px;
  padding: 13px 45px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #f53855;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.outline-btn:hover {
  background: #f53855;
  color: #fff;
}

.full-btn {
  text-decoration: none;
  cursor: pointer;
  background: #f53855;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  padding: 17px 78px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.full-btn::after {
  position: absolute;
  content: "";
  top: 25px;
  width: 84%;
  height: 100%;
  left: 20px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  z-index: -1;
}

.full-btn:hover {
  background: rgba(245, 56, 85, 0.6);
}

.headline {
  max-width: 555px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.headline h2 {
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}

.headline p {
  line-height: 30px;
}

.header {
  padding: 50px 0px 88px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  max-width: 149px;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-right: 40px;
}

.header nav ul li a {
  color: #4f5665;
  text-decoration: none;
  font-size: 18px;
  line-height: 19px;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: #f53855;
}

.header nav ul li:last-child {
  margin-right: 0px;
}

.header .actions button:first-child {
  margin-right: 30px;
}

.hero {
  display: flex;
}

.hero .content {
  padding-right: 40px;
  max-width: 555px;
}

.hero .content h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 20px;
}

.hero .content p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}

.statistics {
  display: flex;
  background: #fff;
  margin-top: 103px;
  margin-bottom: 100px;
  width: 100%;
  padding: 37px 0px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.statistics .statistic {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #eeeff2;
}

.statistics .statistic > div {
  display: flex;
  align-items: center;
}

.statistics .statistic:last-child {
  border-right: 0px;
}

.statistics .statistic .icon {
  width: 55px;
  margin-right: 36px;
  height: 55px;
  border-radius: 50%;
  background: #ffecec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics .statistic .icon i {
  font-size: 18px;
  color: #f53838;
}

.statistics .statistic .content h2 {
  font-weight: bold;
  color: #0b132a;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
}

.statistics .statistic .content h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.statistics::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 52px;
  left: 35px;
  width: 84%;
  height: 100%;
  background: #0d1025;
  opacity: 0.06;
  filter: blur(114px);
}

.features {
  display: flex;
  align-items: center;
  margin-bottom: 135px;
}

.features .image {
  max-width: 508px;
}

.features .content {
  flex: 1;
  padding-left: 169px;
}

.features .content h2 {
  text-transform: capitalize;
  color: #0b132a;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 20px;
}

.features .content p {
  line-height: 30px;
  margin-bottom: 20px;
}

.features .content ul {
  list-style: none;
}

.features .content ul li {
  margin-bottom: 15px;
  line-height: 30px;
  padding-left: 32px;
  position: relative;
}

.features .content ul li::before {
  content: url("../img/check-icon.svg");
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

.pricing {
  background: #f6f6f6;
  padding-bottom: 150px;
  padding-top: 80px;
}

.pricing .container .headline {
  margin-bottom: 60px;
}

.pricing .container .pricing-items {
  display: flex;
  align-items: stretch;
}

.pricing .container .pricing-items-item {
  flex: 1;
  margin-right: 50px;
  padding-bottom: 50px;
  padding-top: 80px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

.pricing .container .pricing-items-item.featured {
  border: 2px solid #f53838;
}

.pricing .container .pricing-items-item:last-child {
  margin-right: 0px;
}

.pricing .container .pricing-items-item img {
  max-width: 144px;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.pricing .container .pricing-items-item h3 {
  text-align: center;
  font-size: 18px;
  color: #0b132a;
  margin-bottom: 30px;
  margin-top: 30px;
}

.pricing .container .pricing-items-item ul {
  min-height: 230px;
  margin-bottom: 50px;
  list-style: none;
}

.pricing .container .pricing-items-item ul li {
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
  padding-left: 36px;
  line-height: 30px;
}

.pricing .container .pricing-items-item ul li::before {
  position: absolute;
  content: url("../img/check-simple-icon.svg");
  width: 13px;
  top: 2px;
  left: 0;
}

.pricing .container .pricing-items-item .price {
  color: #0b132a;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.pricing .container .pricing-items-item .price span {
  color: #4f5665;
  font-weight: 400;
}

.pricing .container .pricing-items-item a {
  padding: 13px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 50px;
}

.network {
  background: #f6f6f6;
  padding-bottom: 109px;
}

.network .container .headline {
  margin-bottom: 155px;
}

.brands {
  background: #f6f6f6;
  padding-bottom: 204px;
}

.brands .container {
  display: flex;
  justify-content: space-between;
}

.brands .container img {
  max-width: 190px;
}

footer {
  background: #f2f2f2;
  padding-bottom: 100px;
}

footer .newsletter {
  border-radius: 10px;
  padding: 58px 70px;
  transform: translateY(-50%);
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

footer .newsletter::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 52px;
  left: 35px;
  width: 84%;
  height: 100%;
  background: #0d1025;
  opacity: 0.06;
  filter: blur(114px);
}

footer .newsletter .content {
  max-width: 370px;
}

footer .newsletter .content h2 {
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .newsletter .content p {
  line-height: 30px;
}

footer .footer {
  display: flex;
  justify-content: space-between;
}

footer .footer-element {
  max-width: 340px;
}

footer .footer .logo {
  max-width: 149px;
}

footer .footer .logo ~ p {
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 30px;
}

footer .footer .social {
  display: flex;
}

footer .footer .social div {
  margin-right: 20px;
  background: #fff;
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px 0px rgba(13, 16, 37, 0.1);
  transition: all 0.3s ease;
}

footer .footer .social div:hover {
  transform: scale(1.1);
}

footer .footer .social div i {
  font-size: 15px;
  color: #f53855;
}

footer .footer .social div:last-child {
  margin-right: 0px;
}

footer .footer .copyright {
  line-height: 30px;
  color: #afb5c0;
  margin-top: 30px;
}

footer .footer .title {
  color: #0b132a;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .footer ul {
  list-style: none;
}

footer .footer ul li {
  margin-bottom: 10px;
}

footer .footer ul li a {
  color: #4f5665;
  text-decoration: none;
  line-height: 30px;
  transition: color 0.3s ease;
}

footer .footer ul li a:hover {
  color: #f53855;
}
/*# sourceMappingURL=style.css.map */
